.about-section{
    padding: 12.5em 0;
    background: pink;
    background-image: url(../img/about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 400px;
}