.contact-section{
    background-image: url(../img/about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6em 0;
    display:flex;
    text-align: left;
    font-weight: 900;
    p{
        padding:0;
        margin:0;
        color:#3c3950;
    }

    form{
        font-weight: 400;
        input, textarea{
            background-color: #f4f6f7;
            border: 1px solid #dfe5e8;
            font-size: .8em;
            margin-top: 1.5em;
            width:100%;
            padding: 7px 7px 7px 20px;
            
            
            
             
        }
        input[type="submit"]{
            background: $yellow-main;
            font-weight: 900;
            text-transform: uppercase;
            width:100%;
            border-radius: 5px;
            &:hover, :focus{
                background: #000;
                color: $yellow-main;
            }
            
        }
        .input-name, .input-email{
            position:relative;
            &::after{
                position:absolute;
                content:"\f007";
                font-family: FontAwesome;
                color: #b6b6c9;
                top:25px;
                right:5px;
            }
        }
        .input-email::after{
            content:"\f003";
        }
    }

    .contact-info{
        p{
            font-size: .8em;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .telephone{
            font-size: 2.8em;
            margin: .6em 0;
            color: #fbc300;
            display: block;
            text-decoration: none;
        }
        .title{
            padding:0;
            margin:0;
            font-size: 2em;
        }
        .underliner{
            margin-top:1em;;
            margin-bottom: 2em;
        }
        .email-contact{
            color:#fbc300;
        }
    }
}

.no-flexbox .contact-section{
    display:block;
    .container{
        @extend .clearfix;
    }
    .col-6{
        
    }
}
@media (max-width:45rem ){

    .contact-section{
        font-size:15px;
        .contact-info{
            .telephone{
                font-size: 2.5em;
            }
        }
        width:100%;
        .col-6{
            width:100%;
        }
    }
    .no-flexbox .contact-section{
        display:block;
        .col-6{
            float:none;
        }
    }

}

