
#cta {
    position:relative;
    .container{
        padding:0;
    }
    &:after{
        content:' ';
        position: absolute;
        display:block;
        top: 0;
        left:0;
        height:100%;
        width: 50%;
        background:$cta-section;
        z-index:-1; 
    }
    
    &:before{
        content:' ';
        position: absolute;
        display:block;
        top: 0;
        right:0;
        height:100%;
        width: 50%;
        background: #fff url(../img/ctabg.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        z-index:-1; 
    }
    
}
@media (max-width:60rem ){
        #cta{
            &:before{
                width:100%;
                
                
            }
            &:after{
                width:100%;
                height:50%;
            }
        }
        
    }
.cta-section{
    //background: $cta-section;
    display:flex;
    overflow:hidden; 
    
    .testimonial-section{
        position:relative;
        height:100%;
        width:100%;
    }
    
    .button-testimonial{
        color: $yellow-main;
        font-size: 50px;
        position:absolute;
        z-index:2;
        
    }
    .button-testimonial.next-testimonial{
        top:50%;
        right:5%;
    }
    .button-testimonial.prev-testimonial{
        top:50%;
        left:0%;
    }
        
    
    &>div{
        padding: 8em 0 6em;
    }
    /*.cta-contact{
        background: #fff url(../img/ctabg.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
    }*/
    .button{
        margin-top:2em;
        font-size:1.5em;
        padding: 1em 1.5em;
        border-radius: 5px;
        border-style: none;
        background: $yellow-main;
        font-weight: 900;
        
        &:hover, :focus{
            background: #000;
            color: $yellow-main;
        }
    }
    .cta-text{
        padding: 0 5.625em;
        font-weight: 900;
        p{
            font-size: 1.5em;
        }
        
    }
    .testimonial-slideshow-container{
        height:100%;
        width:100%;
        padding:0;
        position:relative;
        .active-testimonial{
            display:block;
        }
    }
    .testimonial-container{
        margin-right: 2.5em;
        min-height:340px;
        display:none;
        
    }

    .testimonial-title{
        color: $yellow-main;
        text-transform: uppercase;
        font-weight: 900;
        padding: .2em 0;
    }
    .testimonial-company{
        color: #b4b4b4;
        font-size: .8em;
    }
    .testimonial-text{
        padding: 1em 4.725em;
        position:relative;
        
        
        &::before{
            content: "\f10e";
            font-family: FontAwesome;
            position: absolute;
            font-size:8em;
            color:$gray-text;
            bottom: -120px;
            right:0;
            left:0;
            z-index:1;   
        }
        
        p{
            z-index: 2;
            color: #fff;
            font-size: 1.5em;
            
        }
        
    }
    
}

@media (max-width:60rem ){
    
    .cta-section{
        flex-direction: column;
        &>div{
            margin: 0;
            padding: 4em 0 4em;
        }
        .col-6{
            width:100%;
        }

        .testimonial-text{
            font-size: .8em;
            padding: 1em 5em 0em;
        }
    }

}
@media (max-width:37rem ){
    
.cta-section{
    .testimonial-container{
        min-height: initial;
    }    
    .testimonial-text{
        font-size: .6em;
        padding: 2em 8em 0em;
        &::before{
            display:none;    
        }
        
    }
    .cta-text{
        padding: 0 1em;
        font-weight: 900;
        
    }
    .button{
        font-size: 1em;
    }
    
}

}

.cta-action-section{
    background:$yellow-main url(../img/ctabg.png)no-repeat center;
    background-size: cover;
    padding: 4em 0;
    .container{
        display:flex;
        align-items: center;
        justify-content: center;
        .cta-action-text{
            display:inline-block;
            width:70%;
            padding:0 5em 0 0;
            p{
                text-align: left;
                font-size: 1.6em;
                letter-spacing: 3px;
                font-weight: 300;
                line-height: 1.4;
            }
        }
        .cta-action-button{
            
            
        }
    }
    
        
}
@media (max-width:45rem ){
    .cta-action-section{
        .container{
            display:block;
            .cta-action-text{
                padding:0 0 2em 0;
                width:100%;
                p{
                    text-align: center;
                }
            }
        }
    }
}

.no-flexbox .cta-section{
    .col-6{
        float:left;
    }
}
.no-flexbox .cta-content-testimonial{
    max-height:500px;
}