// _base.scss
// ==============

*{
  box-sizing: border-box;
  transition: all ease-in-out .25s;
}

body{
  font-family: $bodyFont;
  margin: 0;
  text-align: center;
  //fade in website on page load
  opacity: 1;
  transition: 1s opacity;
}
 //fade in website on page load
/*
body.fade-out {
    opacity: 0;
    transition: none;
}
*/
img{
  max-width:100%;
  height: auto;
}

.container{
  width: 95%;
  max-width: 75.75rem;
  padding: 0 1.3125rem;
  margin: 0 auto;
}
.container-full-width{
  width:100%;
  margin: 0 auto;
  overflow:hidden;
}

section{
  @extend clearfix;
  //padding:7.5rem 0;
}

footer{
  @extend clearfix;
}

.underliner{
  width:63px;
  text-indent: -9999px;
  height:2px;
  background-color: $yellow-main;
  margin-top: 1.5em;
}

 /* Column system
===============*/

[class^=col-]{
  width:100%;
  margin-top: 1em;
}


[class^=col-]:first-child{
  margin-top:0;
}

.col-1{
  width: 33.333334%;
  float:left;
  text-align: center;
}

.col-6{
  width:50%;
}

@media (min-width:40rem ){

  [class^=col-]{
    float:left;
    padding: 0 .5em;
    margin-top: 0;
  }

  [class^=col-]:first-child{
    padding-left: 0;
  }

  [class^=col-]:last-child{
    padding-right: 0;
  }

  .col-3{
    width:calc(100%/3);
  }

  .col-1{
    width: 16.6666%;
  }

}

/* Parallax
===============*/

.parallax--bg, .parallax--box{
  transition: initial;
}

/* header
===============*/

.main-header{
  position: absolute;
  left: 0;
  right: 0;
  color: white;
}
.contact-header{
  background: rgba(0,0,0, .6);
}
@media (max-width:50rem ){
  .contact-header{
    display:none;
  }
}
.contact-container{
  padding: .8em 2em 1em;
  display:flex;
  align-items: center;
  justify-content: space-between;
  color: $contact-text;
    .contact-phone{
      font-size:.75em;
    }
    .contact-social{
      i{
        padding:0 1em;
      }
    }
}

.logo{
  position:absolute;
  color: $yellow-main;
  top: 0;
  left:0;
  font-size:1.4em;
} 
.main-navigation{
  position: relative;
}
//mobile menu
.main-nav{
  background: #999;
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;
  font-size: 1.5rem;
  z-index:101;
  transition: all ease-in-out 250ms;
  overflow:hidden;
  text-transform: uppercase;
  &.is-open{
    left: 0;
  }

  ul{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    //height: 100vh;
  }
  li{
    //flex: 1 1 auto;
    border-bottom: 1px solid $shadow;
    display: flex;
    &:hover{
      color: $hover-blue;
    }
  }
  a{
    text-decoration: none;
    flex-basis: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 1rem 2rem;
    font-weight: 300;
    color: #fff;
    &:hover,
    &:focus{
      color: $hover-blue;
    }
  }
}
// mobile hamburger

.nav-toggle{
  display:block;
  padding: 1em;
  position: absolute;
  right:1em;
  top: 1em;
  cursor: pointer;
  z-index:102;
  .hamburger, .hamburger::before, .hamburger::after{
    content: '';
    display: block;
    width: 2em;
    height: 3px;
    background: #fff;
    transition: transform ease-in-out 250ms;
  }
  .hamburger::before{
    transform: translateY(-6px);
  }
  .hamburger::after{
    transform: translateY(3px);
  }
  .hamburger.is-open{
    transform: rotate(45deg);
    &::after{
      transform: rotate(-90deg);
    }
    &::before{
      display:none;
    }
  }
}




@media (min-width:60rem ){
  .nav-toggle{
    display:none;
  }
  .logo{
    margin-left:1.4em;
    left:0;
    z-index:102;
  }

  .main-nav{
    background: transparent;
    display: inline-block;
    position: relative;
    width:100%;
    text-align: right;
    font-size: 1rem;
    left:0;
    margin-left: 0;
  }

  //////////////
  .main-nav ul{
  margin: 0;
  padding: 0;
  list-style:none;
  display: inline-block;
  height:100%;
}

.main-nav li{
  display: inline-block;
  margin: 1em .5em;
  border-bottom: none;
  &.active{
    border: 2px solid #fff;
  }
  &:last-of-type{
    margin-right: .3em;
  }
}

.main-nav a{
  display: inline-block;
  font-weight: 900;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: .4em .4rem;
  font-size: .9em;
}
}



 /* Footer
===============*/

footer{
  color: $white;
  text-align: left;
  padding: 5em 0;
  display:flex;
  background: #1A1A1A;
}

